
*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #FFD1E3;
    font-family: "Platypi", serif;
}

#title{
    background-color: #392467;
    height: 5rem;
    align-content: center;  
}

h1{
    color: #FFD1E3;
    text-align: center;
    
}

#options{
    margin-top: 5rem;
    display: flex; /* to bring all the child dev on single line */
    align-content: center; /* Vertical centering */
    justify-content: center; /* Horizental centering */
    gap: 2rem;
    
}

.choice{
    height: 170px;
    width: 170px;
    text-align: center;
    border-radius: 100%;
}

.choice:hover{
    opacity: 0.5;
    cursor: pointer;
}

img{
    height: 160px;
    width: 160px;
    object-fit: cover;
    border-radius: 100%;
}

#scoreBoard{
    margin-top: 5rem;
    text-align: center;
}

#heading{
    font-size: 25pt;
}

#score{
    display: flex;
    justify-content: center;
    gap: 2rem;
    font-size: 20pt;
}

#conclusion{
    margin-top: 5rem;
    text-align: center;
}

#result{
    background-color: #A367B1;
    font-size: 2rem;
    color: #392467;
    padding: 1rem;
    border-radius: 1rem;
    display: inline;
}





